@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-login {
  background-image: url('https://images.unsplash.com/photo-1607706189992-eae578626c86?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
